.color{
    color:hsl(172, 67%, 45%);
    color:hsl(183, 100%, 15%);
    color:hsl(186, 14%, 43%);
    color:hsl(184, 14%, 56%);
    color:hsl(185, 41%, 84%);
    color:hsl(189, 41%, 97%);
    color:hsl(0, 0%, 100%);
}
body{
    /* font-family: 'Red Hat Display', sans-serif; */
    font-family: 'Space Mono', monospace;
}

.background{
    background-color: hsl(185, 41%, 84%);
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.container{
    display:grid;

        width: 720px;
        height: 400px;
        grid-template-columns: 1fr 1fr  ;
        /* grid-template-rows: 1fr 1fr ; */
    border-radius: 8px;
    background-color:hsl(0, 0%, 100%);
    margin: auto;
}

.form1{
    margin: auto;
    height: 80%;
}
.input{
    display: flex;
        justify-content: center;
        align-items: center;
    margin-bottom: 10px;
    border: none;
    background-color:hsl(189, 41%, 97%);
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;

    text-align: right;
    font-size: 16px;
    font-family: 'Space Mono', monospace;

    background-image: url(images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: 7px 12px;
}
.peopleInput{
    display: flex;
        justify-content: center;
        align-items: center;
    margin-bottom: 10px;
    border: none;
    background-color:hsl(189, 41%, 97%);
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;

    
    text-align: right;
    font-size: 16px;
    font-family: 'Space Mono', monospace;

    background-image: url(images/icon-person.svg);
    background-repeat: no-repeat;
    background-position: 7px 12px;
}
.title{
    color:hsl(183, 100%, 15%) ;
    font-size: 16px;
    
}
.percentages{
    display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:5px;
        place-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.percentage{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 80px;
    background-color: hsl(183, 100%, 15%);
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

.form2{
    background-color: hsl(183, 100%, 15%);
    margin: auto;
    height: 80%;
    width: 90%;
    border-radius: 8px;
}

.details{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    /* gap:5px; */
    place-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.detail{
    /* margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px; */
    margin: 25px;
}

/* .inputBill[type='text']{
    background-image: url(images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: 7px 12px;
} */




.title2{
    color:hsl(189, 41%, 97%);
    font-size: 16px;
}
.subTitle2{
    color:hsl(184, 14%, 56%);
    font-size: 16px;
}

.price{
    color:hsl(172, 67%, 45%);
    font-size: 26px;
    font-weight: bold;
}

.button{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    border-radius: 8px;
    border: none;
    width: 85%;
    height: 40px;
    margin-top: 15%;
    /* margin-bottom: 10px; */
    font-size: 16px;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 3;
}


@media (max-width:375px) {
    .logo{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .container{
        display:grid;
            width: 350px;
            height: 700px;
            /* height: auto; */
            grid-template-columns: 1fr ;
        border-radius: 8px;
        background-color:hsl(0, 0%, 100%);
        margin: auto;
    }
    .form1{
        /* margin: 40px; */
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 0;
        /* margin: auto; */
        height: 80%;
        /* width: 90%; */
    }
    .percentages{
        grid-template-columns: 1fr 1fr ;
     
    }
    .form2{
        background-color: hsl(183, 100%, 15%);
        /* margin: auto; */
            margin-top: -20px;
            margin-right: 20px;
            margin-left: 20px;
            /* margin-bottom: 0; */

        height: 80%;
        width: 90%;
        border-radius: 8px;
    }

    .detail{
        margin-top: 5px;
        margin-bottom: 5px;
        /* margin: 10px; */
    }

    .button{
        background-color: hsl(172, 67%, 45%);
        color: hsl(183, 100%, 15%);
        border-radius: 8px;
        border: none;
        width: 80%;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
    }
   
}






